extends layout

block content
  .page-header
    .container
        h3
          | Gallery
          small.pull-right.hidden-xs
            a(href='./') Home >
            a.active(href='#')  Gallery
        small.visible-xs
          a(href='./') Home
          a.active(href='#') Gallery
  .container.gallery
    .row
      .col-sm-3
        a.image-link(href='./includes/img/project-1.jpg')
          img.img-thumbnail.img-responsive(src='./includes/img/project-1.jpg', alt='')
      .col-sm-3
        a.image-link(href='./includes/img/project-2.jpg')
          img.img-thumbnail.img-responsive(src='./includes/img/project-2.jpg', alt='')
      .col-sm-3
        a.image-link(href='./includes/img/project-3.jpg')
          img.img-thumbnail.img-responsive(src='./includes/img/project-3.jpg', alt='')
      .col-sm-3
        a.image-link(href='./includes/img/project-4.jpg')
          img.img-thumbnail.img-responsive(src='./includes/img/project-4.jpg', alt='')
    .row
      .col-sm-3
        a.image-link(href='./includes/img/project-5.jpg')
          img.img-thumbnail.img-responsive(src='./includes/img/project-5.jpg', alt='')
      .col-sm-3
        a.image-link(href='./includes/img/project-6.jpg')
          img.img-thumbnail.img-responsive(src='./includes/img/project-6.jpg', alt='')
      .col-sm-3
        a.image-link(href='./includes/img/project-7.jpg')
          img.img-thumbnail.img-responsive(src='./includes/img/project-7.jpg', alt='')
      .col-sm-3
        a.image-link(href='./includes/img/project-8.jpg')
          img.img-thumbnail.img-responsive(src='./includes/img/project-8.jpg', alt='')
    .row
      .col-sm-3
        a.image-link(href='./includes/img/project-9.jpg')
          img.img-thumbnail.img-responsive(src='./includes/img/project-9.jpg', alt='')
      .col-sm-3
        a.image-link(href='./includes/img/project-10.jpg')
          img.img-thumbnail.img-responsive(src='./includes/img/project-10.jpg', alt='')
      .col-sm-3
        a.image-link(href='./includes/img/project-11.jpg')
          img.img-thumbnail.img-responsive(src='./includes/img/project-11.jpg', alt='')
      .col-sm-3
        a.image-link(href='./includes/img/project-12.jpg')
          img.img-thumbnail.img-responsive(src='./includes/img/project-12.jpg', alt='')
    .row
      .col-sm-3
        a.image-link(href='./includes/img/project-13.jpg')
          img.img-thumbnail.img-responsive(src='./includes/img/project-13.jpg', alt='')
      .col-sm-3
        a.image-link(href='./includes/img/project-14.jpg')
          img.img-thumbnail.img-responsive(src='./includes/img/project-14.jpg', alt='')
      .col-sm-3
        a.image-link(href='./includes/img/project-15.jpg')
          img.img-thumbnail.img-responsive(src='./includes/img/project-15.jpg', alt='')
      .col-sm-3
        a.image-link(href='./includes/img/project-16.jpg')
          img.img-thumbnail.img-responsive(src='./includes/img/project-16.jpg', alt='')
    .row
      .col-sm-3
        a.image-link(href='./includes/img/project-17.jpg')
          img.img-thumbnail.img-responsive(src='./includes/img/project-17.jpg', alt='')
      .col-sm-3
        a.image-link(href='./includes/img/project-18.jpg')
          img.img-thumbnail.img-responsive(src='./includes/img/project-18.jpg', alt='')
      .col-sm-3
        a.image-link(href='./includes/img/project-19.jpg')
          img.img-thumbnail.img-responsive(src='./includes/img/project-19.jpg', alt='')
      .col-sm-3
        a.image-link(href='./includes/img/project-20.jpg')
          img.img-thumbnail.img-responsive(src='./includes/img/project-20.jpg', alt='')
    ul.pagination
      li.disabled
        a(href='#') «
      li.active
        a(href='#')
          | 1
          span.sr-only (current)
      li
        a(href='#') 2
      li
        a(href='#') 3
      li
        a(href='#') 4
      li
        a(href='#') 5
      li
        a(href='#') »
