@color-gray: #404040;
@color-darkgray: #3c3c3c;
@color-darkblue: #024959;
@color-blue: #037ebc;
@color-white: #ffffff;
@color-orange: #f24c27;

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

body {
  padding: 0px;
  font: 14px "Muli", "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: @color-gray;
  color: @color-white;
}

a {
  color: @color-blue;
}

.content {
  //background-color: @color-darkgray;
}

.navbar {
  border-radius: 0;
}

.navbar-default .navbar-brand {
  text-transform:uppercase;
  font-weight:bold;
  color: @color-darkblue;

  @media (min-width: 768px) {
    font-size:.9em;
  }
}

.content-area {
  height:100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin-bottom: -70px;
  /* Pad bottom by footer height */
  padding-bottom: 70px;
}

/* Set the fixed height of the footer here */
#footer-bottom {
  height: 70px;
}